html {
  height: 100%;
}

body {
  background: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  display: flex;
}

.heading {
  margin-top: 0;
  color: #5A5A5A;
}

.container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.profile-image {
  border-radius: 150px;
  width: 300px;
  height: 300px;
  align-self: center;
  margin-bottom: 15px;
}

.link {
  display: block;
  font-size: 15pt;
  margin-bottom: 10px;
  color: #9F9F9F;
  text-decoration: none;
}

.link:hover, .link:focus {
  text-decoration: none;
}